body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1.5vh;
    background-color: rgb(47, 47, 47);
    padding-inline: 5%;
}

#headerText{
    font-size: 30px;
}

#signInButton{
    font-size: 18px;
    border-radius: 10px;
    align-self: center;
    height: 4vh;
    max-height: 6vh;
    background-color: orange;
    color:  rgb(47, 47, );
    border: none;
}

#signInButton:hover{
    cursor: pointer;
    background-color: rgb(213, 139, 0);
}

#content{
    display: block;
    height: 78.5vh;
    width: 100%;
    text-align: center;
}

#library{
    display: flex;
    margin-top: 5vh;
    flex-wrap: wrap;
    justify-content: center;
}

#addBookButton{
    border-radius: 100px;
    margin-top: 10vh;
    background-color: orange;
    border: none;
    padding: 10px;
}

#addBookButton:hover{
    cursor: pointer;
    background-color: rgb(213, 139, 0);
}

#plus{
    height: 5vh;
}

footer{
    text-align: center;
    background-color: rgb(47, 47, 47);
    color: white;
    position: sticky;
}

#popUpContainer{
    display: none;
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.6); 
    justify-content: center; 
    align-items: center; 
    opacity: 0; 
    transition: opacity 0.3s ease;
}

#popUpContainer.show { 
    display: flex; 
    opacity: 1;
} 

.popUpBox{
    width: 50%;
    max-width: 350px;
    display: block;
    height: 30vh;
    background-color: orange;
    color: rgb(47, 47, 47);
    text-align: center;
    border-radius: 25px;
}

.popUpForm{
    font-size: 15px;
    display: block;
}

.forms input{
    border-radius: 10px;
    margin-bottom: 1vh;
}

.submitButton{
    background-color: green;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    padding-inline: 10px;
    padding-block: 5px;
    border: none;
    width: 40%;
}

.closePopUp{
    background-color: red;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    width: 40%;
}

.submitButton:hover{
    cursor: pointer;
    background-color: rgb(14, 110, 14);
}

.closePopUp:hover{
    cursor: pointer;
    background-color: rgb(219, 17, 17);
}

.formButtons{
    margin-top: 5vh;
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}